@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background: #f5f5f5;
}

:root {
    --main-black: #000;
    --secondary-gray: #d9d9d9;
    --icon-gray: #c0c0c0;
    --edit-blue: #3A6EA5;
    --main-button: #FF7A00;
}

.main-container { 
    width: 360px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
}

.users-header {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

.users-title {
   font-style: normal; 
   font-weight: 500;
   font-size: 2.8rem;
   line-height: 10px;
   margin: 34px 0px 10px;
}

.user-subt {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--secondary-gray);
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.user-container {
    width: auto;
    height: auto; /* CAMBIAR a 65px */
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    background-image: url('./icons8-user-64.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.data-container {
    height: auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.data-container .user-name {
    margin: 0;
    padding: 0;
}

.data-container:nth-child(1) {
    color: red;
}

.edit-button {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--edit-blue);
    cursor: pointer;
}

/* @media screen and (max-width: 360px) {
    .main-container {
        width: 320px;
        background-color: #FF7A00;
    }
} */